@media (max-height: 800px){
    footer{
        display:none;
    }
}

main
{
    overflow-x: auto;
    text-align: center;
}


main .form-control
{
    display: inline-block;
    width: auto;
}

.custom-window {
    box-shadow: 0 0 4px;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
}

.container-channel {
    grid-template-columns: auto;
    grid-template-rows: auto;
}


#message-box, #file-selector {
    align-self: center;
}

#message-box {
    margin: 20px 20px 10px 30px;
}

#chat {
    padding: 20px;
}

#welcome:hover{
    color: white;
}

.links{
    font-size: 20px;
    font-family: monospace;
}

.facebook:hover, .linkedin:hover{
    color: #1c62d4 !important;
}

.youtube:hover{
    color: #fc3838 !important;
}

.github:hover{
    color:black !important;
}

.twitter:hover{
    color:#38cefc !important;
}

.nav-link{
    text-align: center;
    color:#423f3f !important;
}

.name-page{
    font-family: 'Turret Road';
}

.nav-item{
    font-family: 'Turret Road';
}

/* MESSAGE BOX */

.messageBox{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    margin: 2px;
    text-align: left;
}


/* MESSAGE PARTS */

.user{
    font-size: 20px;
    color: blue;
}

.msg{
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 30px;
    background-color: #21a3ff;
}

.timestamp{
    font-size: 16px;
    color: green;
}